<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Sky Product Selection</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>

<div class="container">

    <form>
        <div class="">
            <input type="text" placeholder="Enter Username" id="nameField" name="uname"/>
            <button type="submit" id="getProductsButton">Get Products</button>
        </div>
    </form>

    <h3>Sports</h3>
    <ul id="sports">
    </ul>

    <h3>News</h3>
    <ul id="news">
    </ul>

    <h3>Basket</h3>
    <ul id="basket">
    </ul>

    <form action="#" th:action="@{/checkout}" method="post">
        <p><input class="checkout" type="submit" value="Checkout"/></p>
    </form>

</div>

<script type="text/javascript" src="/scripts/controller.js" th:href="@{/scripts/controller.js}"></script>

</html>